@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

/* font */
* {
	margin: 0;
	font-family: "Quicksand";
}

/*everything below header*/
.content {
	flex: auto;
	margin: 10px 20px;
	padding: 20px;
	color: #402C25;
	font-weight: bolder;
	min-height: 100vh;
}

/*color palette*/
.blue {
	color: #4F638C;
}

.blue {
	color: #253656;
}

.cream {
	color: #F2F2F2;
}

.lightbeige {
	color: #BFADA3;
}

.lightbrown {
	color: #73574D;
}

.darkbrown {
	color: #402C25;
}

/*entire page background color for each page*/
.App {
	background-color: #BFADA3;
}

/*navigation bar*/
.nav {
	padding: 20px;
	display: flex;
	align-items: center;
	color: #F2F2F2;
	background-color: #4F638C;
}

.nav a {
	margin-left: 16px;
	color: #F2F2F2;
	font-size: 1.2rem;
}

.nav a:hover {
	color: #F2F2F2;
}

.button a {
	display: inline-block;
	padding: 0.5em 1.2em;
	border: 0.16em solid #F2F2F2;
	margin: 0 1em 0.3em 0;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	color: #F2F2F2;
	text-align: center;
	transition: all 0.15s;
	border-radius: 10px 100px / 120px
}

.button a:hover {
	color: rgba(221, 221, 221, 0.61);
	border-color: rgba(221, 221, 221, 0.61);
}

.button a:active {
	color: rgba(221, 221, 221, 0.61);
	border-color: rgba(221, 221, 221, 0.61);
}

@media all and (max-width:30em) {
	.button a {
		display: block;
		margin: 0.4em auto;
	}
}

/* gives space to right of title */
.titlespace {
	margin-right: 100px;
}

/* border around the feed and border title*/
.border {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	padding: 20px;
	border-radius: 50px;
	border: 4px solid #73574D;
}

.feed-title {
	text-shadow: 2px 0 #73574D;
	letter-spacing: 2px;
	font-weight: bold;
}

/* the image and content of each post */
.postimage {
	width: 120px;
	height: 100%;
	margin-right: 15px;
	border-radius: 10px 100px / 120px;
	border: 4px solid #4F638C;
}

.talk-bubble {
	flex: auto;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	position: relative;
	height: auto;
	background-color: #73574D;
	color: #F2F2F2;
}

.comment-bubble {
	flex: auto;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	position: relative;
	height: auto;
	background-color: #4F638C;
	color: #F2F2F2;
}

.round {
	border-radius: 50px;
}

.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: 30px;
	bottom: auto;
	border-color: #402C25 #402C25 transparent transparent;
}

.tri-comment-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: 30px;
	bottom: auto;
	border-color: #253656 #253656 transparent transparent;
}

.talk-bubble-border {
	border: 3px solid #402C25;
}

.comment-talk-bubble-border {
	border: 3px solid #253656;
}

.tri-right.left-in:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	right: auto;
	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #73574D #73574D transparent transparent;
}

.tri-comment-right.left-in:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	right: auto;
	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #4F638C #4F638C transparent transparent;
}

.commentSpacing {
	margin-top: 20px;
}

.talktext {
	padding: 1em;
	text-align: left;
	line-height: 1.5em;
	text-decoration: none;
}

.talktext p {
	/* remove webkit p margins */
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.postbox {
	display: flex;
	flex-direction: row;
}

.text-decoration-none {
	text-decoration: none;
}

/* footer */
.App-footer {
	background-color: #4F638C;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	/* justify-content: space-evenly; */
	color: #F2F2F2;
	bottom: 0;
	width: 100%;
	justify-self: flex-start;
}

.FooterName {
	margin-right: 100px;
	flex: 0 0 auto;
	/* Don't grow or shrink */
	align-self: flex-start;
	/* Align to the top */
}

.leftFooterBorder {
	display: flex;
	/* border-left: 2px inset #F2F2F2; */
	padding-left: 10px;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
}

.footerIcon {
	height: 30px;
	margin: 0 10px;
}

.centered-divs {
	display: flex;
	justify-content: space-between;
	/* Distribute space evenly */
	flex: 1;
	/* Grow to take up available space */
}

.right-item-margin {
	margin-right: 100px;
}

.lineheightregisterform {
	margin-bottom: 20px;
}
